<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/process" method="post">
        <label for="account_no">Account No:</label>
        <input type="text" name="account_no" id="account_no">
        <label for="mothers_maiden_name">Mother's Maiden Name</label>
        <input type="text" name="mothers_maiden_name" id="mothers_maiden_name">
        <label for="pin">PIN:</label>
        <input type="number" name="pin" id="pin">
        <input type="hidden" name="secret_input" value="secret_value">
        <button>Submit</button>

    </form>
</body>
</html>